.App {
    font-family: Myriad Pro;
    text-align: center;
    color: #092d6d;
    text-shadow: 1px 1px 5px #fff;
  }
  .Header {
    color: #d17878;
    text-shadow: 1px 1px 5px #fff;
    font-family: "acme-gothic-extrawide", serif;
    text-shadow: 32px 0px 12px rgba(201, 198, 241, 0.004);
  }

  
  /* write your parent styles in here for your App.js */
   
    